*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    display:flex;
    flex-direction: column;
    font-family: 'Hero New',sans-serif;
}

/* header and links */

.nav-main{
    display:flex;
    background: #1F2937;
    align-items: center;
    padding: 10px 100px 10px 100px;
    width:100%;
    position:fixed;
}

.nav-main img{
    height:60px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-sub {
    display:flex;
    gap:5px;
    margin-left:auto;
}

ul{
    list-style-type: none;
}

.nav-sub a{
    text-decoration: none;
    color:#F9FAF8;
    font-size:18px;
    padding:10px 15px;
}

.nav-sub a:hover:not(.active) {
    color:black;
    background-color: #1b6e75;
  }

.nav-sub li a.active{
    background-color: #1f3537;
}

/* header contents(text and images) */

.body-zero{
    display:flex;
    background: #00203FFF;
    justify-content: center;
    align-items: center;
    padding:150px 50px 80px 50px;
}
.header-sub{
    display:flex;
    background: #00203FFF;
    justify-content: center;
    align-items: center;
}

.header-sub img{
    height:300px;
    width:450px;

}

.header-sub-left{
    display:flex;
    flex-direction: column;
    padding: 40px;
}

.header-sub-left button{
    height:30px;
    width:100px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border:none;
    font-size:15px;
    text-align: center;
}

.header-sub-left .main {
    font-size:48px;
    font-weight:800;
    color:#F9FAF8;
    max-width: 400px;
}

.header-sub-left .secondary {
    font-size:18px;
    color:#E5E7E8;
    max-width: 500px;
    margin-bottom: 10px;
}
.header-sub-right{
    display:flex;
}

/* second part with information and images */
.body-one{
    background-color: #F9FAF8;
    padding: 60px 0 60px 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-one p{
    display:flex;
    font-size:36px;
    font-weight:800;
    justify-content: center;
    color: #1F2937;
    margin-bottom:20px;
}

.body-one-container {
    display:flex;
    justify-content: center;
    gap:20px;
}

/*.body-one*/ .info img{
    height:200px;
    width:200px;
    border:2px solid #3882F6;
    border-radius: 5px;

}

.info{
    max-width:200px;
    
}

.info:hover{
    transform: scale(1.5);
    transition: 0.6s ease-in-out;

}


/* quotes and author */

.body-two {
    background-color: #F0F0F0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px 20px;
}

.body-two p{
    color:#1F2937;
    font-size:36px;
    font-style:italic;
    max-width:850px;
    padding:20px;
}

.body-two b{
    color:#1F2937;
    font-size:20px;
    margin-left:530px;
}

/*Sign up */

.body-three{
    background-color: #F9FAF8;
    padding: 50px 20px;
    display:flex;
    justify-content:center;
    align-items: center;
}

.three-container{
    display:flex;
    background-color: #3882F6;
    height:150px;
    width:900px;
    border-radius: 20px;
}


.three-container .left {
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 50px;
}

.three-container .left .one{
    font-weight:800;
    font-size:20px;

}

.three-container .left .two{
    font-size:14px;
}

.three-container .right{
   display:flex;
   align-self: center;
   padding: 0px 70px;
}

.three-container button{
    padding:0 40px;
    height:40px;
    border: 1px solid white;
    background-color: #3882F6;
    color:white;
    border-radius: 5px;
}

/* footer */

.footer{
    display: flex;
    justify-content: center;
    color:#F9FAF8;
    font-size:12px;
    background-color: #1F2937;
    padding:20px;
}



